---

---

<nav
	class="global-spacing bg-light text-dark rounded-full flex justify-between items-center my-5"
>
	<div class="san-jose text-5xl">RHINOS GYM</div>
	<ul class="flex gap-12 font-medium text-lg">
		<li>Home</li>
		<li>Goals</li>
		<li>Services</li>
		<li>Class Scheduless</li>
		<li>Contact</li>
	</ul>
</nav>
