---

---

<div
	class="grid grid-cols-5 w-3/4 mx-auto gap-8 *:rounded-full justify-center items-center my-20"
>
	<img src="/images/brands/adidas.png" alt="Brand adidas" />
	<img src="/images/brands/nike.png" alt="Brand nike" />
	<img src="/images/brands/puma.png" alt="Brand puma" />
	<img src="/images/brands/reebok.png" alt="Brand rebook" />
	<img src="/images/brands/undefined1.png" alt="Brand undefined" />
</div>
