<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Template 3 - @lhenaoll</title>
    <link href="./style.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="max-width">
      <a href="/">
        <img class="icon-brand" src="/images/logo.png" alt="Icon brand" />
      </a>
      <ul>
        <li select="false">Home</li>
        <li select="true">Location</li>
        <li select="false">About Us</li>
        <li select="false">Career</li>
        <li select="false">FAQ</li>
      </ul>
      <button>
        <img src="images/icons/phone-svgrepo-com.svg" alt="icon contact" />
        Contact Us
      </button>
    </nav>

    <header class="max-width">
      <div class="header__text">
        <p class="header__text-title">
          IT'S COOLER TO <br />
          BE YOURSELF
        </p>
        <div class="header__text-subtitle">
          <p>
            Haircut services for men and women, where here the customer's hair,
            scalp, face and body can be. Pampered, with the best services and
            facilities
          </p>
          <div class="header__text-subtitle-time">
            <span
              >Open<br />
              08:00 AM
            </span>
            <span
              >Close<br />
              21:30PM
            </span>
          </div>
        </div>
      </div>
      <div class="header__image">
        <img src="images/header-brand.png" alt="Brand image" />
      </div>
    </header>
    <article class="max-width about__us">
      <h2>ABOUT US</h2>
      <p>
        Pulvinar vel tortor adipiscing eget tortor vitae mauris turpis. Eget
        fusce eleifend tincidunt nunc dui. Etiam vivamus quis neque, diam
        malesuada feugiat. Leo arcu sed diam neque, lectus vel fermentum. Sem
        vitae laoreet tellus, sem vitae aliquet blandit vel lectus. Potenti
        accumsan amet volutpat, placerat aenean tortor arcu purus ac.
      </p>
      <a href="##"
        >Learn More
        <img
          src="./images/icons/link-external-02-svgrepo-com.svg"
          alt="Learn More icon"
        />
      </a>
    </article>

    <div class="slider__section">
      <div class="slider">
        <div class="slider__container" orientation="left">
          <div><img src="./images/slider-1.jpg" alt="Imagen promo 1" /></div>
          <div><img src="./images/slider-2.jpeg" alt="Imagen promo 2" /></div>
          <div><img src="./images/slider-3.jpg" alt="Imagen promo 3" /></div>
        </div>
      </div>
      <div class="slider__founder">
        <div class="slider__founder-info">
          <img src="./images/founder.png" alt="Photo's founder" />
          <div>
            <span> Kim Se-jeong </span>
            <span> Founder KangCokor </span>
          </div>
        </div>
        <p>
          “We prioritize our customer satisfaction by providing high quality
          service.”
        </p>
      </div>
    </div>

    <div class="services max-width">
      <div class="services__title">
        <div>
          <p>HAIRCUT SERVICE</p>
          <div class="services__title-line"></div>
        </div>
        <p>FOR MEN AND WOMEN</p>
      </div>
      <div class="services__grid-content">
        <div>
          <h3>MODERN HAIRCUT</h3>
          <p>
            Starting with a cold towel then haircut and shampooing, ending with
            a hot towel head and back massage and application of.
          </p>
          <button>Learn More</button>
        </div>
        <div>
          <img src="./images/grid-2.png" alt="services photo 1" />
        </div>
        <div>
          <img src="./images/grid-3.jpg" alt="services photo 2" />
        </div>
        <div>
          <h3>HAIR COLOUR</h3>
          <p>
            Color your hair (without bleaching) perfectly according to your
            dream color.
          </p>
          <button>Learn More</button>
        </div>
        <div>
          <img src="./images/grid-5.webp" alt="services photo 3" />
        </div>
      </div>
    </div>

    <div class="prices max-width">
      <h2 class="prices__title">CHOOSE YOUR PLAN</h2>
      <span class="prices__subtitle"
        >Get month-end discount subscriptions up to 58%</span
      >
      <div class="prices__buttons">
        <button>Regular</button>
        <button>Premium</button>
      </div>
      <div class="prices__list">
        <div class="prices__list-card">
          <h4>Basic hair cut</h4>
          <span class="prices__list-card-price">$23.99</span>
          <hr />
          <ul>
            <li enabled="true">Hair cut</li>
            <li enabled="false">Hair spa</li>
            <li enabled="true">Hairwash</li>
            <li enabled="false">Facial latulip</li>
            <li enabled="false">Creambath</li>
            <li enabled="false">Facial VIVA</li>
          </ul>
          <button>Choose Plan</button>
        </div>

        <div class="prices__list-card">
          <h4>Fashion Hair</h4>
          <span class="prices__list-card-price">$86.99</span>
          <hr />
          <ul>
            <li enabled="true">Hair cut</li>
            <li enabled="false">Hair spa</li>
            <li enabled="true">Hairwash</li>
            <li enabled="true">Facial latulip</li>
            <li enabled="true">Creambath</li>
            <li enabled="false">Facial VIVA</li>
          </ul>
          <button>Choose Plan</button>
        </div>

        <div class="prices__list-card plan_premium">
          <h4>Grooming & Hairspa</h4>
          <span class="prices__list-card-price">$247.99</span>
          <hr />
          <ul>
            <li enabled="true">Hair cut</li>
            <li enabled="true">Hair spa</li>
            <li enabled="true">Hairwash</li>
            <li enabled="true">Facial latulip</li>
            <li enabled="true">Creambath</li>
            <li enabled="true">Facial VIVA</li>
          </ul>
          <button>Choose Plan</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer__card">
        <div>
          <h4>SUBCRIBE OUR NEWSLETTER</h4>
          <h5>Be the first one to know about discounts, offers and events</h5>
        </div>
        <form>
          <input
            type="text"
            name="email_suscriber"
            id="email_suscriber"
            placeholder="Your email here..."
          />
          <input class="button" type="submit" value="Subscribe" />
        </form>
      </div>
      <div class="footer__links">
        <div class="footer__links-top">
          <div class="footer__links-brand-info">
            <a href="/">
              <img class="icon-brand" src="/images/logo.png" alt="Icon brand" />
            </a>
            <p>
              We ara aloremipsum dolor st amet, consectetur adipiscing elit, sed
              doeiusmodtemporincididunt utlabore exercitation ullamcolaboris
              nislutaliquip ex ea commodo consequat... <a href="#">Read More</a>
            </p>
            <ul>
              <li>
                <img
                  src="./images/icons/phone-call-svgrepo-com.svg"
                  alt="icono call"
                />
                310-437-2766
              </li>
              <li>
                <img
                  src="./images/icons/email-svgrepo-com.svg"
                  alt="icono email"
                />
                kangcokor@gmail.com
              </li>
              <li>
                <img
                  src="./images/icons/location-pin-svgrepo-com.svg"
                  alt="icono location"
                />
                706 Campfire Ave. Meriden, CT 06450
              </li>
            </ul>
          </div>
          <div class="footer__links-support">
            <ul>
              <li>About</li>
              <li>Abouts us</li>
              <li>Blog</li>
              <li>Careers</li>
              <li>Jobs</li>
              <li>Gallery</li>
            </ul>
            <ul>
              <li>Support</li>
              <li>Contact us</li>
              <li>Online Chat</li>
              <li>Whatsapp</li>
              <li>Telegram</li>
              <li>Help</li>
            </ul>
            <ul>
              <li>FAQ</li>
              <li>Account</li>
              <li>Payments</li>
              <li>Returns</li>
              <li>Copyright</li>
              <li>Language</li>
            </ul>
          </div>
        </div>
        <div class="footer__links-bottom">
          <h5>©2000-2021, All Rights Reserved</h5>
          <ul>
            <li>About us</li>
            <li>Contact</li>
            <li>Privacy policy</li>
            <li>Sitemap</li>
            <li>Term of use</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
  <script src="./script.js"></script>
</html>
