---
import ButtonAction from './ButtonAction';
import { FaPlay } from 'react-icons/fa6';
---

<section class="width-global w-full flex flex-col sm:flex-row items-center py-4">
  <div class="sm:w-3/6">
    <p class="font-extrabold text-5xl w-4/5">Develop you skill in a new and unique way</p>
    <p class="text-sm leading-loose mt-4 opacity-80">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur molestiae culpa reprehenderit velit!
      Deleniti molestias quaerat rem qui consequatur sit amet, laboriosam labore vero quidem, assumenda facere
      in voluptatum dicta.
    </p>
    <div class="mt-4 flex gap-10 px-1">
      <ButtonAction text="Enroll Now" />
      <button class="flex items-center gap-2">
        <span class="block bg-degrad-global text-xs p-1 rounded-[50%]"><FaPlay /></span> What's Etech?</button
      >
    </div>
  </div>
	<img class="w-3/6 contrast-125" src="./images/main.png" alt="Promotion image brand" />
</section>
