---
import ButtonAction from './ButtonAction';
---

<article class="pt-24 width-global grid grid-cols-2 gap-12 justify-center items-center">
  <div>
    <h3 class="text-3xl font-extrabold">
      If You Are A Certified Teacher Then <span class="text-primary">Become An Instructor</span>
    </h3>
    <h5 class="opacity-70 mt-2">
      Unlock the opportunity to inspire and educate by joining our team of instructors. If youire a certified
      teacher, elevate your impact and share your expertise with learners worldwide.
    </h5>
    <h3 class="text-3xl font-extrabold mt-4">Enjoy Many Perks</h3>
    <ul class="list-disc marker:text-primary marker:text-2xl *:font-bold grid grid-cols-2 px-6">
      <li>Global Impact</li>
      <li>Flexible Schedule</li>
      <li>Innovative Teaching Tools</li>
      <li>Recognition And Reputation</li>
      <li>Creative freedom</li>
      <li>Monetize Your Expertise</li>
      <li>Professional Development</li>
      <li>Networking Opportunities</li>
    </ul>
    <div class="my-6 text-lg">
      <ButtonAction text="Become an Instructor" />
    </div>
  </div>
  <img class="w-5/6 contrast-125" src="/images/to-teachers.png" alt="Image to teachers" />
</article>
