---

---

<div class="bg-white py-20 mx-1 rounded-tl-[6rem] rounded-br-[6rem] px-8 text-black">
  <div class="bg-degrad-global max-w-3xl mx-auto py-8 px-12 rounded-2xl">
    <div class="text-center">
      <h5 class="text-3xl font-bold">Get in touch!</h5>
      <h6 class="w-4/6 mx-auto">
        Subscribe Us to get in touch and to enjoy discounts, promos and much more!
      </h6>
    </div>
    <form class="flex gap-4 justify-center mt-8 pb-4" action="javascript:return false">
      <input
        class="p-4 text-base rounded-md"
        type="text"
        name="email"
        id="email"
        placeholder="Enter your email"
      />
      <input
        class="text-primary bg-white font-bold text-xl px-6 rounded-md"
        type="submit"
        value="Subscribe"
      />
    </form>
  </div>
</div>
